
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 15px;
    margin: 20px 0;
}

.grid-container div {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
label {
    text-align: left;
    margin-bottom: 5px;
    color: gray;
}

.backButtonRow {
    margin-bottom: 10px;
    text-align: left;
}
#backButton {
    padding: 8px 16px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.headerButtons {
    text-align: right;
}
.headerButtons button {
    padding: 8px 16px;
}
#cancelBtn{
    color: white;
    background-color: maroon;
    border: none;
}