
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 15px;
}

.grid-item {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
